@if (Tasks.Count > 0)
{
	<table class="table">
		<thead>
			<tr>			
				<th scope="col">Task id</th>
				<th scope="col">Task name</th>
				<th scope="col">Task description</th>
				<th scope="col">Task content</th>
				<th scope="col">Time to complete (hours)</th>
				<th scope="col">Point</th>
				<th scope="col">Category</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var task in Tasks)
			{
				<tr>
					<td class="align-middle">
						@task.Id
					</td>
					<td class="align-middle">
						@task.TaskName
					</td>
					<td class="align-middle">
						@task.TaskDescription
					</td>
					<td class="align-middle">
						@task.TaskContent
					</td>
					<td class="align-middle">
						@task.Timeframe
					</td>
					<td class="align-middle">
						@task.Points
					</td>
					<td class="align-middle">
						@task.TaskCategoryName
					</td>
					<td class="align-middle">
						<button type="button" class="btn btn-info" @onclick="()=>RedirectToUpdate(task.Id)">Update</button>
					</td>
					<td class="align-middle">
						<button type="button" class="btn btn-danger" @onclick="()=>Delete(task.Id)">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<span>
		<button class="btn btn-primary" type="button" disabled>
			<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
			Loading tasks...
		</button>
	</span>
}